# Gradle
.gradle/
.kotlin/
build/
out/
classes/
bin/

# IDE
*.iml
*.ipr
*.iws
*.code-workspace
.classpath
.project
.settings/

# Minecraft development
run/
runs/

# Loom
.loom-cache/
remappedJars/
remappedSrc/

# Logs
logs/
